<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body {
            margin-top: 35vh;
        }
    </style>
</head>
<body class="text-center bg-dark text-white">
    <div class="content">
        <form action="./{{ bookmark.id }}" method="POST">{% csrf_token %}
            <p class="lead">{{ bookmark.url }}</p>
            <p class="h3">{{ bookmark.title }} 북마크를</p>
            <p class="h2">삭제 하시겠습니까?</p><br>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="/bookmark" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</body>
</html>